<a href="https://colab.research.google.com/github/MuhammadHamzakarnal/assignment_3_python/blob/main/assignment_3_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assignment 3 ***
# **Python Assignment List Tuples and methods**

In [1]:
numberlist = [4, 5, 6, 7, 8]
numberlist.append(9)
print(numberlist)

numbers = [1, 2, 3]
numbers2 = [4, 5, 6]
numbers.extend(numbers2)
print(numbers)

programminglanguage = ["HTML", "CSS", "Python", "SQL"]
programminglanguage.insert(2, "python")
print(programminglanguage)

Removenumber = [10, 20, 30, 10, 40]
Removenumber.remove(10)
print(Removenumber)

lastelementremove = [100, 200, 300, 400]
lastelementremove.pop()
print(lastelementremove)

[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6]
['HTML', 'CSS', 'python', 'Python', 'SQL']
[20, 30, 10, 40]
[100, 200, 300]

In [2]:
#Intermediate List Operations
#Answer no 6
countnumber = [5, 10, 5, 20, 5, 30]
print(countnumber.count(5))

#Answer no 7
Alphabeticallyorder = [9, 1, 8, 3, 5]
Alphabeticallyorder.sort()
print(Alphabeticallyorder)

#Answer no 8
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

#Answer no 9
numberitem = [100,200,300,400,500]
copy_list = numberitem.copy()
copy_list.append(600)

print(numberitem)
print(copy_list)

#Answer no 10
Clearelement = ["hello", "world", "python"]
print(Clearelement.clear())

3
[1, 3, 5, 8, 9]
['cherry', 'banana', 'apple']
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500, 600]
None

In [3]:
#Advanced Problems
#Answer no 16

def even_number(list):
    return [i for i in list if i % 2 != 0]
print(even_number([2, 3, 2, 3, 6, 4, 10, 54, 60, 62, 72]))

#Answer no 17
def num_list(lst):
    return sorted (lst,reverse=True)
listofnumber = [3,1,4,1,5,9]
print(num_list(listofnumber))



#Answer no 18
my_list = [1,2,3,4,1,2,3,4,5,2]
new_list = set(my_list)
my_num_list =  list(new_list)
print(my_num_list)

#Answer no 19
my_tuple_list = ("Alice", "Bob", "Charlie", "Alice", "David")
my_list = list(my_tuple_list)
my_list_2  = set(my_list)
my_tuple = tuple(my_list_2)
print(my_tuple)

[3, 3]
[9, 5, 4, 3, 1, 1]
[1, 2, 3, 4, 5]
('Bob', 'David', 'Charlie', 'Alice')

In [4]:
#Intermediate List Operations
#Answer no 6
countnumber = [5, 10, 5, 20, 5, 30]
print(countnumber.count(5))

#Answer no 7
Alphabeticallyorder = [9, 1, 8, 3, 5]
Alphabeticallyorder.sort()
print(Alphabeticallyorder)

#Answer no 8
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

#Answer no 9
numberitem = [100,200,300,400,500]
copy_list = numberitem.copy()
copy_list.append(600)

print(numberitem)
print(copy_list)

#Answer no 10
Clearelement = ["hello", "world", "python"]
print(Clearelement.clear())

3
[1, 3, 5, 8, 9]
['cherry', 'banana', 'apple']
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500, 600]
None